.theme-dark {
  --text-accent: #52BAE0;
  --text-accent-hover: #74C8E7;
  --text-title: #FFF;
  --text-normal: #D0D0D0;
  --text-muted: #BBBDBF;
  --text-code: #FA8682;
  --interactive-accent: #52BAE0;
  --interactive-complementary: #E09D00;
  --interactive-tag: #A66064;
  --interactive-accent-rgb: 116, 200, 231;
  --interactive-accent-hover: #74C8E7;
  --interactive-success: #69F593;
  --fluro-yellow-rgb: 255, 255, 0;
  --fluro-pink-rgb: 255, 0, 255;
  --fluro-red-rgb: 255, 0, 0;
  --fluro-blue-rgb: 80, 190, 255;
  --fluro-green-rgb: 0, 255, 0;
  --text-highlight-rgb: var(--fluro-blue-rgb);
  --text-highlight-bg: none; /* To avoid having too times the mark */
  --node-accent: #52BAE0;
  --node-asset: #C28D13;
  --node-tag: #A66064;
}

h1, h2, h3, h4, h5 {
  font-weight: 500;
  font-family: sans-serif;
  color: var(--text-title);
}

code {
  color: var(--text-code) !important;
  background-color: black;
}

blockquote {
  border: none !important;
  border-left: 5px solid var(--text-accent-hover) !important;
  margin-inline-start: 0 !important;
  margin-inline-end: 0 !important;
}

ul, ul ul, ol ul {
  list-style: none; /* Remove default bullets */
}

ul li::before {
  content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
  color: var(--text-accent); /* Change the color */
  font-weight: bold; /* If you want it to be bold */
  display: inline-block; /* Needed to add space between the bullet and the text */
  width: 1em; /* Also needed for space (tweak if needed) */
  margin-left: -1em; /* Also needed for space (tweak if needed) */
}

ol li {
  counter-increment: li;
  list-style-type: none;
}

ol li::before {
  color: var(--text-accent); /* Change the color */
  content: counter(li) ". ";
  display: inline-block; /* Needed to add space between the bullet and the text */
  width: 1em; /* Also needed for space (tweak if needed) */
  margin: 0 .5em 0 -1em; /* Also needed for space (tweak if needed) */
}

/* IMAGES */

.internal-embed img { 
  display: flex;
  justify-content: center;
  margin: 2em auto;
}

img {
  border-radius: 10px;
}

/* LINKS */

.internal-link, .tag {
  box-shadow: inset 0 0px 0 var(--interactive-accent), inset 0 -4px 0px var(--interactive-accent);
}

.internal-link:hover {
  color: var(--interactive-accent) !important;
}

.external-link {
  box-shadow: inset 0 0px 0 var(--interactive-complementary), inset 0 -4px 0 var(--interactive-complementary);
  background-position-y: 2px;
}

.external-link:hover {
  color: var(--interactive-complementary) !important;
}

.tag {
  box-shadow: inset 0 0px 0 var(--interactive-tag), inset 0 -4px 0px var(--interactive-tag);
  padding: 0 !important;
  font-size: inherit !important;
  border-radius: 0 !important;
  background-color: transparent !important;
  border: none !important;
}

.tag:hover {
  color: var(--interactive-tag) !important;
  border: none !important;
  background-color: transparent !important;
}

a, .internal-link, .cm-hmd-internal-link, .cm-link, .tag {
  text-decoration: none !important;
  color: var(--text-normal);
}

a:hover {
  box-shadow: none;
  text-shadow: none;
}

.internal-link, .external-link, .tag {
  text-shadow: -1px -1px 2px var(--background-primary), -1px 1px 2px var(--background-primary), 1px -1px 2px var(--background-primary), 1px 1px 2px var(--background-primary);
  /*	-webkit-text-fill-color: var(--text-normal);*/
  text-decoration: none;
  transition: all 350ms ease;
}

span.obsidian-search-match-highlight {
  background-color: var(--interactive-accent-hover) !important;
  color: var(--text-normal) !important;
}

/* HIGHLIGHTS */

mark.yellow{ --text-highlight-rgb: var(--fluro-yellow-rgb); }
mark.pink{ --text-highlight-rgb: var(--fluro-pink-rgb); }
mark.red{ --text-highlight-rgb: var(--fluro-red-rgb); }
mark.blue{ --text-highlight-rgb: var(--fluro-blue-rgb); }
mark.green{ --text-highlight-rgb: var(--fluro-green-rgb); }

mark {
  margin: 0 -0.4em;
  padding: 0.1em 0.4em;
  border-radius: 0.8em 0.3em;
  background-color: none !important;
  background: transparent;
  background-image: linear-gradient(105deg,
    transparent 0,
    transparent 0.3em,
    rgba(var(--text-highlight-rgb), 0.7) 0.5em,
    rgba(var(--text-highlight-rgb), 0.4) 1.6em,
    rgba(var(--text-highlight-rgb), 0.4) calc(100% - 1.4em),
    rgba(var(--text-highlight-rgb), 0.7) calc(100% - 0.5em),
    transparent calc(100% - 0.3em),
    transparent 100%);
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
  text-shadow: 0 0 0.75em var(--background-primary-alt);
}

.cm-s-obsidian span.cm-highlight {
  padding:0.1em 0;
  background: rgba(var(--text-highlight-rgb), 0.4);
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
  text-shadow: 0 0 0.75em var(--background-primary-alt);
}

.cm-s-obsidian span.cm-formatting-highlight{
  margin: 0 0 0 -0.4em;
  padding: 0.1em 0 0.1em 0.4em;
  border-radius: 0.8em 0 0 0.4em;
  background: none;
  background-image: linear-gradient(105deg,
    transparent 0,
    transparent 0.3em,
    rgba(var(--text-highlight-rgb), 0.7) 0.5em,
    rgba(var(--text-highlight-rgb), 0.4) 1.6em);
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
}
.cm-s-obsidian .cm-highlight+span.cm-formatting-highlight {
  margin: 0 -0.4em 0 0;
  padding: 0.1em 0.4em 0.1em 0;
  border-radius: 0 0.4em 0.8em 0;
  background: none;
  background-image: linear-gradient(105deg,
    rgba(var(--text-highlight-rgb), 0.4) calc(100% - 1.4em),
    rgba(var(--text-highlight-rgb), 0.7) calc(100% - 0.5em),
    transparent calc(100% - 0.3em),
    transparent 100%);
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
}

.markdown-source-view.is-readable-line-width .CodeMirror, .markdown-preview-view.is-readable-line-width .markdown-preview-sizer {
  max-width: 60%;
}

/* GRAPH */

.theme-dark .graph-view.color-fill-tag {
  color: var(--node-tag);
}

.theme-dark .graph-view.color-fill-attachment {
  color:  var(--node-asset);
}

.theme-dark .graph-view.color-fill-unresolved {
  color: var(--node-accent); 
}

.graph-view.color-fill {
  color: var(--node-accent);
}

.graph-view.color-line {
  color: #61616B;
}

/* MERMAID */

.mermaid .edgePath .path {
  stroke: var(--text-accent) !important;
  stroke-width: 1;
}

.mermaid .label {
  color: white !important;
}

.mermaid .node rect, polygon {
  fill: var(--background-primary-alt) !important;
  stroke: none !important;
}

/* Publish */

@media only screen and (min-width: 640px) { 
  .published-container .site-body {
    justify-content: space-between !important;
  }

  .published-container .site-body-center-column {
    flex: 0 1 100% !important;
  }

  .published-container .markdown-preview-view {
    padding: 20px 6em !important;
  }

  .published-container .backlinks {
    margin: 30px 0 !important;
    padding: 20px !important;
  }

  .published-container .site-body-right-column, 
  .published-container .site-body-left-column {
    width: 290px !important;
    flex: 0 0 290px !important;
  }
}

.published-container .site-footer {
  display: none;
}

.published-container .site-body-left-column-site-logo {
  width: 25% !important;
}

.site-body-left-column-site-name {
  text-align: center;
}